.contactList{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    list-style: none ;
    margin-top: 0px;
    margin-bottom: 1px;
}

.contactList li{
    padding: 1px;
    margin-left: 1px;
}

.conactListItem{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.contactListItem > p{
    font-size: smaller;
    margin: 0px 0px 0px 10px;

}

.header {
    background-color: mediumpurple ;
    border-radius: 2%;
    flex-direction: column ;
    margin: auto;
    width: 80%;
}

.headerPhoto{
    border-radius: 50%;
    height: 100px;
    margin-top: 8px;

}

.headerNombres p h1{
    font-size: smaller;
    margin: 1px;
}

.headerNombres > h1{
    margin-bottom: 8px;
}

.headerContacto{
    border: solid 2px gainsboro ;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0px;
}

.headerPhotoImg{
    border-radius: 100%;
    width: 30%;
    height: 100%;
}

@media(min-width: 768px){
    .headerPhotoImg{
        width: 15%;
    }
}

@media(min-width: 992px){
    .headerPhotoimg{
        width: 10%;
    }
}

@media(min-width: 1400px){
    .headerPhotoimg{
        width: 8%;
    }
}